body {
  background-image: url("Arbeitsplatz.jpeg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  font-family: Arial
}

.zurueck {
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 83vh;
  left: 15vw
}