body {
  background-image: url("Uni.jpeg");
  background-size: 120vh;
  background-position: top;
  background-attachment: fixed;
  font-family: Arial
}

.dreieck-unten-links {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 35vw solid transparent;
  border-bottom: 100vh solid rgb(255, 255, 255);
  position: fixed;
  opacity: 0.5;
  bottom: 0px;
  left: 0px;
  pointer-events: none
}

.dreieck-oben-rechts {
  width: 0;
  height: 0;
  border-left: 35vw solid transparent;
  border-right: 0vw solid transparent;
  border-top: 100vh solid rgb(255, 255, 255);
  position: fixed;
  opacity: 0.6;
  top: 0px;
  right: 0px;
  pointer-events: none
}

.kreis {
  width: 500px;
  height: 500px;
  background-color: rgba(80, 50, 218, 0.75);
  border-radius: 50%;
  margin-left: 45vw;
  margin-top: 15vh;
  position: fixed;
  pointer-events: none
}

.dreieck-oben-links {
  width: 0;
  height: 150vw;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-top: 100vh solid rgb(255, 255, 255);
  position: fixed;
  opacity: 0.7;
  bottom: 0px;
  left: 0px;
  pointer-events: none
}

.dreieck-mitte {
  width: 0;
  height: 0;
  position: fixed;
  bottom: 0;
  left: 18vw;
  border-left: 32vw solid transparent;
  border-right: 32vw solid transparent;
  border-bottom: 50vw solid rgba(80, 50, 218, 0.75);
  pointer-events: none
}

.container1 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed
}

.IT {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 83vh;
  left: 50vw;
  transform: translateX(-50%);
}

.Ueberschrift {
  font-size: 80px;
  font-weight: bold;
  position: relative;
  z-index: 10;
  margin-top: 2vh;
  margin-left: 2vw;
  color: black;
}

.container2 {
  font-size: 50px;
  position: absolute;
  margin-top: 21vh;
  margin-left: 49vw;
  text-align: center;
  color: rgb(255, 255, 255);
}

.container3 {
  text-align: center;
  position: fixed;
  background-color: rgba(80, 50, 218, 0.75);
  font-size: 50px;
  font-weight: bold;
  position: fixed;
  top: 50vh;
  left: 20vw;
  padding: 1.5vh;
}

.Arbeitsplatz {
  color: rgb(255, 255, 255)
}