body {
  background-image: url("CityGate1.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial
}

.dreieck-unten-links {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 35vw solid transparent;
  border-bottom: 100vh solid rgb(184, 177, 177);
  position: fixed;
  opacity: 0.5;
  bottom: 0px;
  left: 0px;
  pointer-events: none
}

.dreieck-oben-rechts {
  width: 0;
  height: 0;
  border-left: 35vw solid transparent;
  border-right: 0vw solid transparent;
  border-top: 100vh solid rgb(184, 177, 177);
  position: fixed;
  opacity: 0.6;
  top: 0px;
  right: 0px;
  pointer-events: none
}

.dreieck-oben-links {
  width: 0;
  height: 150vw;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-top: 100vh solid rgb(184, 177, 177);
  position: fixed;
  opacity: 0.7;
  bottom: 0px;
  left: 0px;
  pointer-events: none
}

.dreieck-mitte {
  width: 0;
  height: 0;
  position: fixed;
  bottom: 0;
  left: 18vw;
  opacity: 0.5;
  border-left: 32vw solid transparent;
  border-right: 32vw solid transparent;
  border-bottom: 50vw solid #075794;
  pointer-events: none
}

.kreis {
  width: 500px;
  height: 500px;
  background-color: #797164;
  opacity: 0.5;
  border-radius: 50%;
  margin-left: 45vw;
  margin-top: 15vh;
  position: fixed;
  pointer-events: none
}

.Ueberschrift {
  font-size: 80px;
  font-weight: bold;
  position: relative;
  z-index: 10;
  margin-top: 2vh;
  margin-left: 2vw
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed
}

.container2 {
  font-size: 50px;
  position: fixed;
  margin-top: 25vh;
  margin-right: 47vw;
  text-align: left;
  color: rgb(0, 0, 0)
}

.zurueck {
  color: rgb(184, 177, 177);
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 73vh;
  left: 41.5vw;
}