body {
  background-image: url("CityGate1.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial
}

.dreieck-unten-links {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 35vw solid transparent;
  border-bottom: 100vh solid rgb(80, 50, 218);
  position: fixed;
  opacity: 0.5;
  bottom: 0px;
  left: 0px;
  pointer-events: none
}

.dreieck-oben-rechts {
  width: 0;
  height: 0;
  border-left: 35vw solid transparent;
  border-right: 0vw solid transparent;
  border-top: 100vh solid rgb(80, 50, 218);
  position: fixed;
  opacity: 0.6;
  top: 0px;
  right: 0px;
  pointer-events: none
}

.dreieck-oben-links {
  width: 0;
  height: 150vw;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-top: 100vh solid rgb(80, 50, 218);
  position: fixed;
  opacity: 0.7;
  bottom: 0px;
  left: 0px;
  pointer-events: none
}

.kreis {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  margin-left: 55vw;
  margin-top: 10vh;
  position: fixed;
  pointer-events: none
}

.Ueberschrift {
  font-size: 80px;
  font-weight: bold;
  position: relative;
  z-index: 10;
  margin-top: 2vh;
  margin-left: 2vw
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed
}

.container2 {
  font-size: 50px;
  position: fixed;
  margin-top: 2vh;
  margin-left: 2vw;
  text-align: left;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1vh
}

.container3 {
  font-size: 50px;
  position: fixed;
  margin-top: 40vh;
  margin-left: 2vw;
  text-align: left;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1vh
}

.container4 {
  font-size: 50px;
  position: fixed;
  margin-top: 61vh;
  margin-left: 2vw;
  text-align: left;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1vh
}

.container5 {
  font-size: 50px;
  position: fixed;
  margin-top: 65vh;
  margin-left: 2vw;
  text-align: left;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1vh
}

.zurueck {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 1vh;
  left: 62vw;
}